Guided Code Lab

In [2]:
('Hello World!')

'Hello World!'

In [4]:
# Variable 
x = 16 
y = 4

# Addition 20 
print('Addition: ', x+y)

# Substraction 12
print('Substraction: ', x-y)

# Multiplication 64 
print('Multiplication: ', x*y)

# Division 4 
print('Division: ', x/y)

# Modulus 0
print('Modulus: ', x%y)

# Exponent -
print('Exponent: ', x**y)

# Floor Division 4 
print('Floor Division: ', x//y)

Addition:  20
Substraction:  12
Multiplication:  64
Division:  4.0
Modulus:  0
Exponent:  65536
Floor Division:  4

In [5]:
# Lists 
mylist = ["apple", "banana", "cherry"]

# Since lists are indexed, lists can have items with the same value:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# List Data Types
 
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [6]:
list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

In [7]:
# Access List Item 

# Lists items are indexed and you can access them by referring to the index number :
# Print the second item of the list:

thislist =  ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [8]:
# Negative Indexing
# -1 refers to the last item, -2 refers to the second last item etc. 

thislist =  ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [9]:
# Range of Indexes 

thislist =  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [10]:
# This example returns the items from the beginning to, but NOT including, "kiwi":

thislist =  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [12]:
# This example returns the items from "cherry" to the end:

thislist =  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruit list")

Yes, 'apple' is in the fruit list

In [15]:
# Change the second item 

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [16]:
# Insert "watermelon" as the third item

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [18]:
# Add List Items 

# Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [19]:
# Insert an item as the second position 

thislist = ["apple", "banana", "cherry"]
thislist. insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [20]:
# Add the elements of tropical to thislist 

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [25]:
# Remove List Items # apus pake teks

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
(thislist)

['apple', 'cherry']

In [26]:
# Remove specified index # apus pake angka urutan 

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
(thislist)

['apple', 'cherry']

In [27]:
# Tuples

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [28]:
# Access Tuple Items 
# can access tuple items by referring to the index number, inside square brackets

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [29]:
# Negative Indexing 
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [31]:
# Range of Indexes

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [32]:
# Returns Items from Beginning 

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon","mango")
(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [33]:
# Returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon","mango")
(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [36]:
# Change Tuple Value

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [12]:
thistuple = ("Apple", "Banana", "Cherry")
y = list(thistuple)
y.append("Orange")
thistuple = tuple(y)

thistuple

('Apple', 'Banana', 'Cherry', 'Orange')

In [2]:
# Sets 

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [1]:
# Duplicates not Allowed

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [43]:
# Access Items 

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [44]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [45]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'apple', 'pineapple', 'banana', 'mango', 'cherry', 'papaya'}

In [46]:
# Remove Items 

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [47]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [48]:
# Dictionary 

thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year" : 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [49]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year" : 1964
}
print(thisdict["brand"])

Ford

In [50]:
# Duplicates not Allowed

thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year" : 1964,
    "year" : 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [53]:
thisdict = {
    "brand" : "Ford",
    "electric" : False, 
    "year" : 1964,
    "colors" : ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [54]:
# Access Items 

thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
x = thisdict["model"]
print(x)

Mustang

In [55]:
x = thisdict.get("model")
print(x)

Mustang

In [57]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [60]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [61]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [63]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [64]:
# Conditional Statements 

my_variable = 5

if my_variable < 0 :
    print("negative")
elif my_variable == 0:
    print("null")
else: # my_variable > 0 
    print("positive")

positive

In [73]:
# loops 

my_list = [1,2,3]

# while loops 

i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1 # equivalent to i = i + 1

1
2
3

In [72]:
# For Loops 

for i in range(len(my_list)):
    print(my_list[i])

1
2
3

In [74]:
# List For Loops

for element in my_list:
    print(element)

1
2
3

In [78]:
# Functions 

def square(x):
    return x ** 2

def multiply(a, b):
    return a * b

# Functions can be composed. 
square(multiply(3, 2))

12

# EXERCISE

In [11]:
input_angka = None
genap = 0
ganjil = 0

while input_angka != 0: #pengulangan terus selama tidak 0
    input_angka = int(input(f"Input angka integer kecuali 0 = "))

    if input_angka < 0:
        continue 

    elif input_angka == 0:
        ganjil += 1
    
    elif input_angka:
        genap +=1 
        
    else :
        print(f"TAMAT")
       
print(18*"=")
judul = "Hasil Tampilan"
x = judul.center(10)
print(x)
print(18*"=")

print(f"Jumlah angka ganjil adalah {ganjil}")
print(f"Jumlah angka genap adalah {genap}")

Input angka integer kecuali 0 = 7
Input angka integer kecuali 0 = 8
Input angka integer kecuali 0 = 0
==================
Hasil Tampilan
==================
Jumlah angka ganjil adalah 1
Jumlah angka genap adalah 2

# Additional Task 
- download dataset at elearning
- pick 5 data for sample and create "list of dictionary" (manually)
- apply filter for the dictionary, by work_year for example
- convert dictionary to pandas dataframe
- apply filter for dataframe, by work_year for example

In [46]:
listofdict = [{"work_year" : 2020, 
              "experience_level" : "MI", 
              "company_location" : "DE", 
              "company_size" : "L", 
              "employment_type" : "FT"},
             
            {"work_year" : 2020,
              "experience_level" : "SE",
              "company_location" : "JP", 
              "company_size" : "S", 
              "employment_type" : "FT"},
             
             {"work_year" : 2020, 
              "experience_level" : "SE", 
              "company_location" : "GB", 
              "company_size" : "M", 
              "employment_type" : "FT"},
             
             {"work_year" : 2020, 
              "experience_level" : "MI", 
              "company_location" : "HN",
              "company_size" : "S", 
              "employment_type" : "FT"},
             
             {"work_year" : 2020,  
              "experience_level" : "SE",
              "company_location" : "US",
              "company_size" : "L",
              "employment_type" : "FT"}]

# print(f"list of dictionaries: \n {listofdict}")

filter = [x for x in listofdict if x["experience_level"] == "MI"]
print(filter)

import pandas as pd 

data = pd.DataFrame(listofdict)
print(data)

[{'work_year': 2020, 'experience_level': 'MI', 'company_location': 'DE', 'company_size': 'L', 'employment_type': 'FT'}, {'work_year': 2020, 'experience_level': 'MI', 'company_location': 'HN', 'company_size': 'S', 'employment_type': 'FT'}]
   work_year experience_level company_location company_size employment_type
0       2020               MI               DE            L              FT
1       2020               SE               JP            S              FT
2       2020               SE               GB            M              FT
3       2020               MI               HN            S              FT
4       2020               SE               US            L              FT